/* for highlighting the current page in navbar */
.active {
    background-color: rgb(66, 66, 66);
    border-radius: 25px;
}

/* main */
#main {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 74px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../theme/assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

@media (min-width: 992px) {
    #main {
      height: 100vh;
      padding-top: 104px;
    }
}

/* Tree logo next to navbar-brand */
#tree {
    max-width: 40px;
    max-height: 40px;
}

#logo {
    width: 10%;
    margin-right: auto;
    position: relative; left: -10px; top: -6px;
}
