{% extends 'base.html' %}

{% block title %}About Royal Ancestry{% endblock %}

{% block content %}
<h1>
    About Royal Ancestry
</h1>

<p class="text-white-50">
    Royal Ancestry is an independent geneaology business based in Newcastle upon Tyne and ran by Ian Royal, 
    <br>
    a family tree enthusiast with decades of 
    experience researching his own, and other family trees.
    <br>
    <br>
    Offering a bespoke, personal, service, we can help you unlock your family history.
</p>
{% endblock %}